name: Push to GitHub

env:
  USERNAME: neural.dynamics%40alleninstitute.org
  REPO: codeocean.allenneuraldynamics.org/capsule-6431118.git
on:
  push:
    branches:
      - main

jobs:
  sync-to-codeocean:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Push changes
        env:
          CO_CAPSULE_RW_TOKEN: ${{ secrets.CO_CAPSULE_RW_TOKEN }}
        run: git push https://${{ env.USERNAME }}:${CO_CAPSULE_RW_TOKEN}@${{ env.REPO }} main
